!!!
html.no-js(lang=lang())
	head
		meta(charset="UTF-8")
		title
			block title
				=§('global.title'/*§InSearch§*/)
		block section
			mixin meta(name, content)
				meta(name=name, content=content)
			+meta("viewport", "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi")
			+meta("apple-mobile-web-app-capable", "yes")
			+meta("format-detection", "telephone=no")
		block css
			!=style('sgame')
		block link
			!=canonical()
			link(rel="shortcut icon", href=asset('favicon.ico'))
		block head
	body
		#wrap
			.navbar.navbar-inverse.navbar-fixed-top
				.navbar-inner
					.container
						if User::current()->isAdministrator()
							a.btn.header-option(href="/user/list")
								span.glyphicon.glyphicon-wrench
						if loggedIn
							a.btn.header-option(href="/user/logout")
								span.glyphicon.glyphicon-off
						else
							#login-menu.dropdown
								a#user-login.btn.header-option.dropdown-toggle('data-toggle'="dropdown")
									span.glyphicon.glyphicon-user
								.header-option
									.dropdown-menu(role="menu", 'aria-labelledby'="user-login")
										include ../includes/login

						a.brand(href="/", style="float:left;")
							alt = §('global.title'/*§InSearch§*/)
							!=image("advanced-search", $alt, 48, 48)

						!=Form::open('/')
							#languages.btn-group
								button.btn.btn-default.dropdown-toggle(type="button", 'data-toggle'="dropdown")
									currentLanguage = array_get($languages, lang(), head($languages))
									!=image("flags/" . lang(), $currentLanguage, 16, 16)
									!=" &nbsp; " . $currentLanguage . " "
									span.caret
								ul.dropdown-menu
									each language, code in languages
										li
											a(href=((isset($q) ? $q : '') . '?language=' . $code), selected=(lang() === $code ? 'selected' : '' ))
												!=image("flags/" . $code, $language, 16, 16)
												!=" &nbsp; " . $language . " "
						!=Form::close()
						.nav-collapse.collapse
							ul.nav
								li
									a(href=e(URL::to('')))
										=§('global.home'/*§Accueil§*/)
			#container.container
				if Session::has('alert')
					include ../includes/alert
					type = Session::get('alert-type', 'danger')
					message = Session::get('alert')
					+alert(type, message)
				block content
				block end-content

		block js
			!=script('sgame')
			!=get_inline_script()